<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hello</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="./vue.js"></script>
  </head>
  <body>
    <div id="app">
      <input type="text" @input="changeTitle"/>
      <p>{{ title }} - <a :href="link">Google</a></p>
      <hr>
      <p v-html='foundLink'></p>
      <hr>
      <button @click="counter++">increase</button>
      <button @click="counter--">decrease</button>
      <button @click="secondCounter++">increase secondCounter</button>
      <p>{{ counter }} : {{ secondCounter }}</p>
      <p>{{ result() }} : {{ output }}</p>
      <hr>
      <p @mousemove="updateCoord">{{ x }} / {{ y }}
        <span @mousemove.stop> - DEAD SPOT </span>
      </p>
      <hr>
      <input type="text" @keyup.enter.space="alertMe"/>
      <hr>
      <input type="text" v-model="name"/>
      <p>{{ name }}</p>
      <hr>
      <input type="text" v-model="color"/>      
      <div class="demo" :class="[color, {red: isRedSelected}]">  </div>
      <div class="demo" @click="isRedSelected = !isRedSelected" :class="divClasses">  </div>
      <div class="demo">  </div>
      <hr>
      <input type="text" v-model="colorAny"/>      
      <input type="text" v-model="size"/>      
      <div class="demo" :style="[colorSize, {height: size + 'px'}]"> </div>



    </div>
    <script src="./script.js"></script>
  </body>
</html>