.demo {
  background-color: gray;
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}